* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
    /* Make it white if you need */
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
}

.App {
    color: #72a24d;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.TodoWrapper {
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.TodoForm {
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: -webkit-fill-available;
}

.todo-input::placeholder {
    color: gray;
    font-style: italic;
}

.todo-btn {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.TodoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fa-trash {
    margin-left: 0.75rem;
}

.incompleted {
    color: #fff;
    cursor: pointer;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

.TodoWrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.TodoForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.TodoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.Todo {
    background: green;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 14px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.Todo.media {
    background-color: yellow;
}

.Todo.alta {
    background-color: red;
}

.Todo.atrasado {
    background-image: linear-gradient(to right, yellow, red);
}

.Todo input[type=checkbox] {
    height: min-content;
    margin: 7px 10px 0px 0px;
}

.Todo div {
    text-align: left;
}

.Todo p {
    margin: 0;
    color: white;
}

.Todo.media p, .Todo.atrasado p {
    color: black;
}

.Todo .completed p {
    color: #888;
}

.completed {
    text-decoration: line-through;
}

input[type=radio] {
    margin-right: 5px;
}

.days-input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #8758ff;
    padding: 0rem 0.5rem;
    max-width: 50px;
    text-align: right;
}

.date-input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #8758ff;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

select {
    outline: none;
}

.card {
    border-color: #8758ff !important;
}

.exclamacao {
    margin-left: auto;
    padding-left: 10px;
}

#editInput {
    outline: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.modal-dialog {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    margin: 0;
    background-color: white;
    padding: 15px 25px;
    border-radius: 5px;
    outline: none;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-header {
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.modal-header .close {
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

.modal-footer button {
    margin-left: 5px;
}

.editing {
    background-image: none !important;
    background-color: transparent !important;
}

.editing label {
    color: black !important;
}
